<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h1 align="center"><%= title %></h1>
      <center><br><img src="6.png" alt="title pic" width="400" height="250"></img></br></center>
      <center><a href="/blog/add" class="btn btn-success">เพิ่มข้อมูลวัคซีน</a></center>
      <h4> <a>วัคซีน  (Vaccine) คืออะไร?</a> </h4>
      <h6>วัคซีน คือ ยาหรือสารชนิดหนึ่งที่ฉีดเข้าไปในร่างกาย และทำให้ร่างกายเพื่อให้ร่างกายเกิดการสร้างภูมิคุ้มกันที่จะไปต่อสู้กับเชื้อโรคได้</h6>
      <h4>วัคซีนโควิด-19 แบ่งออกเป็นกี่ชนิด</h4>
      <h6>วัคซีนที่เกี่ยวกับโควิด-19 จะแบ่งออกเป็น 4  ชนิด</h6>

        <br>1. mRNA Vaccine ย่อมาจากmessenger Ribonucleic Acid หรือวัคซีนชนิดสารพันธุกรรม วัคซีนกลุ่มนี้ ใช้เทคโนโลยีใหม่สังเคราะห์สารพันธุกรรมเอ็มอาร์เอ็นเอ (messenger RNA: mRNA) ที่เฉพาะเจาะจงกับเชื้อไวรัส วัคซีนจะทำหน้าที่พา mRNA เข้าเซลล์ และ กํากับให้เซลล์ผลิตสารโปรตีนสไปค์ของเชื้อไวรัส ซึ่งโปรตีนนี้จะกระตุ้นระบบภูมิคุ้มกันของร่างกายให้สร้างแอนติบอดีขึ้นมาต่อต้านเชื้อ</br>
        
        <br><h6>->>วัคซีนที่มีใช้ในปัจจุบัน ได้แก่ วัคซีนของบริษัท Pfizer และ Moderna  ซึ่งปัจจุบันวัคซีน mRNA ถือเป็นวัคซีนโควิด-19 ที่ทั่วโลกนิยมใช้มากที่สุด</h6>
        <br>2. วัคซีนที่ใช้ไวรัสเป็นพาหะ Recombinant Viral vectorvaccine เป็นวัคซีนโควิด-19 ที่ใช้ไวรัสตัวอื่นเป็นพาหะ แล้วฉีดเข้าไปในร่างกายมนุษย์ พัฒนาโดยการนำไวรัสที่ถูกทำให้อ่อนฤทธิ์ลงแล้ว หรือไม่สามารถแบ่งตัวได้อีกมาตัดแต่งพันธุกรรมเพื่อใช้เป็นพาหะ แล้วฝากสารพันธุกรรมของโควิด-19 เข้าไป ทำให้ร่างกายสร้างภูมิคุ้มกันขึ้นมา ซึ่งเทคนิคนี้เป็นวิธีที่สามารถกระตุ้นภูมิคุ้มกันได้ดี เนื่องจากเลียนแบบการติดเชื้อที่ใกล้เคียงธรรมชาติ</br>
        
        <br><h6>->>วัคซีนชนิด Viral vector ที่ใช้กันอยู่ในปัจจุบัน ได้แก่ AstraZeneca (แอสตร้าเซนเนก้า) ,บริษัท จอห์นสัน แอนด์ จอห์นสัน</h6>
        <br>3. วัคซีนที่ทำจากโปรตีนส่วนหนึ่งของเชื้อ (Protein subunit vaccine) เป็นวัคซีนที่เลียนแบบสไปรท์​โปรตีน หรือหนามแหลมของไวรัส โดยอาศัยสื่งมีชีวิตอื่นสร้างขึ้นมา เช่น แบคทีเรีย ยีสต์ หรือพืช วัคซีนที่ผลิตโดยเทคโนโลยีนี้ ทั่วโลกมีความคุ้นเคยมานาน เพราะใช้ในการผลิตวัคซีนหลายชนิด เช่น วัคซีนป้องกันไข้หวัดใหญ่ วัคซีนป้องกันไวรัสตับอักเสบบี เป็นต้น ผลิตโดยการ สร้างโปรตีนของเชื้อไวรัส ด้วยระบบ cell culture, yeast, baculovirus เป็นต้น แล้วนํามาผสมกับสารกระตุ้นภูมิ เมื่อฉีดเข้าสู่ร่างกายจะกระตุ้นให้ร่างกายสร้างแอนตีบอดีต่อต้านโปรตีนสไปค์ของไวรัสโรคโควิด19 วัคซีนที่มีใช้ในปัจจุบันคือ วัคซีนแบรนด์ Novavax ซึ่งผลิตจาก baculovirus และใช้ Matrix M เป็นตัวกระตุ้นภูมิ</br>
        
        <br>4. วัคซีนชนิดเชื้อตาย (Inactivated vaccine) วัคซีนกลุ่มนี้ผลิตโดยนําไวรัสโรคโควิด19 มาเลี้ยงขยายจํานวนมาก และนํามาทำให้เเชื้อตาย  การฉีดวัคซีนจะกระตุ้นให้ร่างกายสร้างภูมิคุ้มกันต่อไวรัสทุกส่วน เสมือนได้รับเชื้อไวรัสโดยตรงแต่ไม่ทำให้เกิดโรค เพราะเชื้อตายแล้ว  เทคโนโลยีนี้เป็นวิธีที่ใช้กับวัคซีนตับอักเสบเอ โปลิโอชนิดฉีด จึงมีความคุ้นเคยในประสิทธิภาพและความปลอดภัยมานาน แต่เนื่องจากการเพาะเลี้ยงไวรัสต้องใช้ความระมัดระวังมาก ทําให้ผลิตได้ช้าและมีราคาแพง</br>
        
        <br><h6>->>วัคซีนที่มีใช้ในปัจจุบัน ได้แก่ วัคซีนซิโนแวค (Sinovac)  และวัคซีนซิโนฟาร์ม (Sinopharm)</h6></h5>
        <center><br><img src="8.jpg" alt="pic2" width="500" height="500"></img></br></center>
      <br>อ้างอิง:https://vichaivej-nongkhaem.com/health-info/วัคซีนโควิด-19/</br>

    </div>
  </body>
</html>
