<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h1><%= title %></h1>
       
      <a href="/blog/add" class="btn btn-success">เพิ่มข้อมูลวัคซีน</a>
    </div>
  </body>
</html>
