<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="urf-8">
    <title></title>
    
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h2>Users</h2>
      <a href="/">ย้อนกลับ</a>
    </div>
    
  </body>
</html>