<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="urf-8">
    <title></title>
    
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <center><br><img src="7.png" alt="pic1" width="500" height="500"></img></br></center>
      <center><a href="/" class="btn btn-success">เพิ่มข้อมูลวัคซีน</a></center>
    </div>
    
  </body>
</html>